.cart {
    width: 100%;
    padding: 10% 10% 0;
}

.heading {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: 18px;
}

.food-ordered {
    margin: 10px 0px;
    color: black;
    font-size: 16px;
}

.food-ordered img {
    width: 100px;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.food-ordered button {
    background: transparent;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(181, 221, 235);
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total h2 {
    margin-bottom: 10px;
}

.total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.total-details hr {
    margin: 10px 0;
}

.cart-total button {
    margin-top: 30px;
    border: none;
    color: white;
    background-color: #f4511e;
    width: 200px;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.promocode {
    width: 400px;

}

.promocode p {
    color: #737070;
}

.promo-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eeee;
    border-radius: 4px;
}

.promo-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.promo-input button {
    width: 100px;
    padding: 10px 0;
    background-color: rgb(5, 146, 188);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/*---------------------------------------------------responsive---------------------------------------------------*/
@media screen and (max-width:1024px) {
    .cart {
        padding: 15% 5% 0;
    }

    .cart-items hr {
        height: 1px;
        background-color: #b1b0b0;
        border: none;
    }

    .cart-bottom .cart-total hr {
        background-color: #b1b0b0;
    }

    .heading {
        font-size: 20px;
    }

    .food-ordered,
    .cart-total button,
    .total-details,
    .promocode {
        font-size: 18px;
    }

    .food-ordered button {
        font-size: 16px;
        border-radius: 10px;
    }

    .cart-total h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:770px) {
    .cart {
        min-width: 120%;
        padding: 25% 5% 5%;
    }

    .heading {
        font-size: 25px;
    }

    .cart-bottom {
        display: flex;
        flex-direction: column;
    }

    .cart-total {
        width: 500px;
    }

    .food-ordered,
    .cart-total button,
    .total-details,
    .promocode {
        font-size: 21px;
    }

    .cart-total h2 {
        font-size: 30px;
    }

    .promocode {
        width: 60%;
    }

    .promo-input input,
    .promo-input button {
        font-size: 2.4vw;
    }

    .food-ordered button {
        font-size: 18px;
    }
}

@media screen and (max-width:450px) {
    .cart {
        padding-top: 100%;
    }

    .cart-items {
        width: 350%;
        padding: 0 10%;
    }

    .cart hr {
        height: 3px;
        background-color: #5c5b5b;
        border: none;
    }

    .heading {
        font-size: 15vw;
        margin-bottom: 2%;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    }

    .food-ordered {
        font-size: 14vw;
        margin: 3% 0;
    }

    .food-ordered img {
        width: 70%;
    }

    .food-ordered button {
        font-size: 13vw;
        width: 120%;
    }

    .cart-total {
        width: 230%;
    }

    .cart-total h2 {
        font-size: 18vw;
        margin-bottom: 5%;
    }

    .total-details {
        font-size: 14vw;
        margin: 3% 0;
    }

    .cart-bottom {
        margin-top: 60%;
        padding-left: 10%;
    }

    .cart-total button {
        font-size: 15vw;
        width: 120vh;
        padding: 20px 30px;
    }

    .promocode {
        font-size: 15vw;
        width: 200%;
        margin: 50% 0;
    }

    .promo-input {
        margin: 10% 0;
        width: 150%;
    }

    .promo-input input,
    .promo-input button {
        font-size: 14vw;
    }

    .promo-input input {
        padding: 20px;
    }

    .promo-input button {
        width: 25%;
        padding: 20px;
    }

}