.cart {
    width: 100%;
    padding: 10% 10% 0;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.styling p {
    background-color: rgb(250, 171, 107);
    padding: 10px;
    margin: 20px 10px 0;
}

.food-ordered {
    margin: 10px 0px;
    font-size: 18px;
    place-items: center;
}

.food-ordered img {
    width: 100px;
}

.cart hr {
    height: 1px;
    background-color: #959595;
    border: none;
}

.food-ordered button {
    background: transparent;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(181, 221, 235);
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
    color: #515151;
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total h2,
.cart-items h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.total-details {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.total-details hr {
    margin: 10px 0;
}

.total-details b {
    font-weight: 600;
}

.cart-total button {
    margin-top: 30px;
    border: none;
    color: white;
    background-color: #f4511e;
    width: 200px;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.promocode {
    width: 400px;
    font-size: 18px;
}

.promo-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3eeee;
    border-radius: 4px;
}

.promo-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

.promo-input button {
    width: 100px;
    padding: 10px 0;
    background-color: rgb(5, 146, 188);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/*---------------------------------------------------responsive---------------------------------------------------*/

@media screen and (max-width:1024px) {
    .cart {
        padding: 10% 5% 0;
    }
}

@media screen and (max-width:770px) {
    .cart {
        min-width: 150%;
        padding: 25% 5% 5%;
    }

    .heading {
        font-size: 22px;
    }

    .styling p {
        padding: 5px;
        margin: 0 5px;
    }

    .cart-bottom {
        display: flex;
        flex-direction: column;
    }

    .cart-total,
    .promocode {
        width: 500px;
    }

    .food-ordered,
    .cart-total button,
    .total-details,
    .promocode {
        font-size: 20px;
    }

    .cart-total h2,
    .cart-items h2 {
        font-size: 25px;
    }

    .promo-input input,
    .promo-input button {
        font-size: 2.4vw;
    }

    .food-ordered button {
        font-size: 18px;
    }
}

@media screen and (max-width:450px) {
    .cart {
        padding: 100% 10% 50%;
    }

    .cart-items {
        width: 380%;
    }

    .heading {
        font-size: 15vw;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    }

    .food-ordered {
        font-size: 14vw;
        margin: 35px 0;
    }

    .food-ordered img {
        width: 70%;
    }

    .food-ordered button {
        font-size: 12vw;
        padding: 10px 30px;
    }

    .cart-total {
        width: 230%;
    }

    .cart-total h2,
    .cart-items h2 {
        font-size: 20vw;
        margin-bottom: 5%;
    }

    .cart-bottom {
        margin-top: 60%;
        gap: 150px;
    }

    .total-details,
    .promocode {
        font-size: 15vw;
        margin: 3% 0;
    }

    .cart-total button {
        font-size: 16vw;
        width: 50vh;
        padding: 20px 30px;
    }

    .promo-input input,
    .promo-input button {
        font-size: 14vw;
    }

    .promocode {
        font-size: 15vw;
        width: 280%;
    }

    .promo-input button {
        width: 25%;
        padding: 20px;
    }
}