.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/header_img3.png') no-repeat center;
    position: relative;
    background-size: cover;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    bottom: 10%;
    padding-left: 25px;
    left: 6vw;
    max-width: 45%;
    color: white;
}

.header-content h2 {
    font-weight: 500;
    font-size: 4vw;
    animation: slide-up 2s ease-in-out forwards;
}

.header-content h2 span {
    background: -webkit-linear-gradient(16deg, rgb(246, 203, 73), #f4511e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-content p {
    font-size: 18px;
    animation: slide-up 3s ease-in-out forwards;
    color: #606060;
}

.header-content button {
    border: none;
    color: black;
    font-weight: 600;
    background: -webkit-linear-gradient(16deg, #ff5811, #fb740c);
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    animation: slide-up 4s ease-in-out forwards;
}

.header-content button:hover {
    background: -webkit-linear-gradient(16deg, #fb740c, #ff5811);
}

/*---------------------------------------------------responsive---------------------------------------------------*/
@media screen and (max-width:1024px) {

    .header-content {
        max-width: 55%;
    }

    .header-content h2 {
        font-size: 4rem;
    }

    .header-content p {
        font-size: 1.2rem;
    }

    .header-content button {
        font-size: 18px;
    }
}


@media screen and (max-width:770px) {
    .header {
        height: 100vh;
        min-width: 120%;
    }

    .header-content {
        gap: 5vw;
    }

    .header-content h2 {
        font-size: 3.8rem;
    }

    .header-content p {
        font-size: 1.3rem;
    }

    .header-content button {
        font-size: 18px;
        padding: 10px 20px;
    }

    .header-content {
        max-width: 65%;
    }

}


@media screen and (max-width:450px) {
    .header {
        min-width: 400%;
        height: 380vh;
    }

    .header-content {
        max-width: 80%;
        gap: 30vw;
        padding-left: 5%;
    }

    .header-content h2 {
        font-size: 10rem;
    }

    .header-content p {
        font-size: 4rem;
    }

    .header-content button {
        font-size: 55px;
        padding: 30px 50px;
        border-radius: 100px;
    }
}