.sign-in {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.sign-in .content {
    place-self: center;
    width: 430px;
    color: #515151;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 8px;
    animation: fadeIn 0.5s ease-in-out;
}

.sign-in .content .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
}

.title h2 {
    font-weight: 600;
}

#cross-icon {
    cursor: pointer;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popup input {
    outline: none;
    border: 1px solid #a8a8a8;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.popup input:focus {
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.sign-in .content button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #f4511e;
    cursor: pointer;
    font-size: 18px;
}

.condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    color: rgb(137, 135, 135);
    font-size: 14px;
}

.condition input {
    margin-top: 5px;
    width: 30px;
    height: 15px;
}

.sign-in p span {
    color: #f4511e;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}

.content h1 {
    display: flex;
    flex-direction: row;
    color: #989898;
    font-size: 20px;
}

.content h1:before,
.content h1:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(178, 176, 176);
    margin: 10px;
}

.sign-in .content .google {
    background-color: transparent;
    color: black;
    border: 1px solid rgb(110, 109, 109);
}

.validation-messages {
    font-size: 14px;
    padding-left: 10px;
    color: red;
}

/*----------------------------------------------------------------responsive-------------------------------------------------*/
@media screen and (max-width:770px) {
    .sign-in .content {
        width: 60vh;
        padding: 5% 3% 3%;
    }

    .sign-in h2 {
        font-size: 4.5vw;
    }

    .popup input,
    #bottom-line,
    #bottom-line span {
        font-size: 3vw;
    }

    .condition {
        margin-top: 10px;
        font-size: 2.5vw;
    }

    .condition input {
        width: 30px;
        height: 30px;
    }

    .sign-in .content button {
        font-size: 3vw;
        padding: 3%;
        margin: 5px 0;
    }

    .validation-messages {
        font-size: 2vw;
    }
}

@media screen and (max-width:450px) {

    .sign-in .content {
        width: 140vh;
        padding: 5%;
        gap: 70px;
    }

    .sign-in .title {
        margin-bottom: 40px;
    }

    .sign-in h2 {
        font-size: 22vw;
    }

    #cross-icon {
        font-size: 50px;
    }

    .popup {
        gap: 30vw;
    }

    .popup input {
        padding: 20px 50px;
        font-size: 16vw;
        border: 1px solid grey;
    }

    .condition {
        font-size: 13vw;
    }

    .condition input {
        width: 65px;
        height: 65px;
    }

    .sign-in .content button {
        font-size: 16vw;
        padding: 3%;
    }

    #bottom-line,
    #bottom-line span {
        font-size: 15vw;
    }

    .content h1 {
        font-size: 20vw;
    }

    .content h1:before,
    .content h1:after {
        border-bottom: 1px solid #514f4f;
        margin: 0 2% 3.5%;
    }

    .validation-messages {
        font-size: 12vw;
    }
}