.navbar {
    padding: 10px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: black;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(255, 207, 147);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.navbar-menu  .active{
    color: rgb(255, 180, 76);
    border-bottom: 3px solid rgb(255, 180, 76);
    padding-bottom: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-basket {
    color: rgb(2, 148, 173);
    cursor: pointer;
}

/*
.navbar-basket .dot {
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -2px;
}
*/

.navbar button {
    background: transparent;
    font-size: 16px;
    background: #ef652a;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
}

.navbar button:hover {
    background-color: #fe8d6b;
}

.ham-menu {
    color: white;
    font-size: 20px;
    display: none;
}

.mob-navbar-menu {
    position: absolute;
    top: 5rem;
    right: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 207, 147);
    background-color: rgba(44, 43, 43, 0.9);
    padding: 1rem;
    width: 100%;
    animation: slide-down 1s ease-in-out forwards;
    font-size: 3vw;
}

/*---------------------------------------------------responsive---------------------------------------------------*/

@media screen and (max-width:1024px) {

    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        font-size: 20px;
    }

    .navbar button {
        font-size: 18px;
    }
}

@media screen and (max-width:770px) {

    .ham-menu {
        display: flex;
        font-size: 25px;
    }

    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 170px;
    }

    .navbar-basket,
    .navbar button {
        font-size: 20px;
    }
}

@media screen and (max-width:450px) {
    .navbar .logo {
        width: 450px;
    }

    .navbar-basket {
        font-size: 52px;
    }

    .navbar button {
        font-size: 60px;
        padding: 15px 25px;
    }

    .ham-menu {
        font-size: 70px;
    }

    .navbar {
        height: 25vh;
    }

    .navbar-right {
        gap: 60px;
    }

    .mob-navbar-menu {
        top: 13rem;
    }

    .mob-navbar-menu li {
        margin: 2rem;
        font-size: 18vw;
    }
}